---
import { getAllData } from "@/lib/scrapper.ts";
import AppLayout from "@/layout/AppLayout.astro";
import MainLayout from "@/layout/MainLayout.astro";

interface Product {
  type: string;
  brand: string;
  model: string;
  price: string;
}

// 2. Define the props this page expects
interface Props {
  products: Product[];
  brandName: string;
}

export async function getStaticPaths() {
  const data = await getAllData();
  const pathsMap = new Map();

  data.forEach((item) => {
    const type = item.type.toLowerCase();
    const brand = item.brand.toLowerCase();
    
    // Safety check: skip if brand is missing or just whitespace
    if (!brand || brand.trim() === "") return;

    const key = `${type}/${brand}`;

    if (!pathsMap.has(key)) {
      pathsMap.set(key, {
        params: { type, brand },
        props: {
          brandName: item.brand,
          products: data.filter(i => 
            i.type.toLowerCase() === type && 
            i.brand.toLowerCase() === brand
          )
        }
      });
    }
  });

  return Array.from(pathsMap.values()) 
}

const { type, brand } = Astro.params;
const { products, brandName } = Astro.props as Props
---

<AppLayout>
    <title slot="head">{brandName} {type}s | By Alfath Muqoddas</title>
    <meta name="description" slot="head" content="Viraindo Webscrapper is a simple Astro project that scrapes the Viraindo website and then generate a static website with the scraped data." />
    <meta name="keywords" slot="head" content="Astro, AstroJS, Astro Website, Astro Webscrapper, Viraindo, Viraindo Webscrapper, Alfath Muqoddas, Alfath, Muqoddas" />
    <meta name="author" slot="head" content="Alfath Muqoddas" />
    <meta name="robots" slot="head" content="index, follow" />
    <MainLayout>
        <button class="text-sm rounded-full bg-white px-4 py-1 hover:underline underline-offset-4 active:underline border mb-4">
            <a class="" href={`/${type}`}>
                👈 Back
            </a>
        </button>
        <h1 class="mb-4 font-bold uppercase text-xl tracking-tight">{brandName} {type}s</h1>
        <div class="overflow-x-auto w-full border">
        <table class="w-full min-w-xl bg-white">
            <thead>
                <tr class="uppercase tracking-tight border-b">
                    <th class="p-2">No</th>
                    <th>Model</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {products.map((p, index) => {
                    const isLast = products.indexOf(p) === products.length - 1;
                    return (<tr class={`${!isLast ? "border-b" : ""} font-mono`}>
                        <td class="p-2 flex items-center justify-center">{index+1}</td>
                        <td class="p-2">{p.model}</td>
                        <td class="p-2 ">Rp. {p.price}</td>
                    </tr>)
                })}
            </tbody>
        </table>
        </div>
    </MainLayout>
</AppLayout>